<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/core-elements/core-elements.html">

<polymer-element name="basic-layout" noscript>
  <template>
    <core-scaffold>
      <core-header-panel navigation flex mode="seamed">
        <core-toolbar style="background-color: #526E9C; color: #fff;">Application</core-toolbar>
        <core-menu>
          <core-item icon="settings" label="item1"></core-item>
          <core-item icon="settings" label="item2"></core-item>
        </core-menu>
      </core-header-panel>
      <div tool>Title</div>
      <content></content>
    </core-scaffold>
  </template>
</polymer-element>