<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/core-scaffold/core-scaffold.html">
<link rel="import" href="/bower_components/core-menu/core-menu.html">
<link rel="import" href="/bower_components/core-item/core-item.html">

<polymer-element name="scaffold-layout" noscript>
  <template>
    <style>
      .content {
        padding: 20px;
      }
    </style>
    <core-scaffold>
      <core-header-panel navigation flex mode="seamed">
        <core-toolbar>Polymer Routing</core-toolbar>
        <core-menu>
          <core-item icon="settings" label="Home"><a href="/#"></a></core-item>
          <core-item icon="settings" label="About"><a href="/#/about"></a></core-item>
          <core-item icon="settings" label="Demo"><a href="/#/demo"></a></core-item>
        </core-menu>
      </core-header-panel>
      <div tool>
        <content select=".title"></content>
      </div>
      <div class="content">
        <content></content>
      </div>
    </core-scaffold>
  </template>
</polymer-element>