<link rel="import" href="/app-router/bower_components/polymer/polymer.html">
<link rel="import" href="/app-router/bower_components/core-scaffold/core-scaffold.html">
<link rel="import" href="/app-router/bower_components/core-menu/core-menu.html">
<link rel="import" href="/app-router/bower_components/core-item/core-item.html">

<polymer-element name="scaffold-layout" noscript>
  <template>
    <style>
      .content {
        padding: 20px;
      }
    </style>
    <core-scaffold>
      <core-header-panel navigation flex mode="seamed">
        <core-toolbar>Polymer Router</core-toolbar>
        <core-menu>
          <core-item icon="home" label="Home"><a href="/app-router/#"></a></core-item>
          <core-item icon="polymer" label="Demo"><a href="/app-router/#/demo/1337?queryParam1=Routing%20Polymer%20style!"></a></core-item>
          <core-item icon="view-quilt" label="Multiple Layouts"><a href="/app-router/#/layouts"></a></core-item>
        </core-menu>
      </core-header-panel>
      <div tool>
        <content select=".title"></content>
      </div>
      <div class="content">
        <content></content>
      </div>
    </core-scaffold>
  </template>
</polymer-element>