<link rel="import" href="/app-router/bower_components/polymer/polymer.html">
<link rel="import" href="/app-router/bower_components/core-scaffold/core-scaffold.html">
<link rel="import" href="/app-router/bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="/app-router/bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="/app-router/bower_components/core-item/core-item.html">

<polymer-element name="scaffold-layout" noscript>
  <template>
    <style>
      :host /deep/ core-toolbar {
        background-color: #2f83d0;
        color: #fff;
        text-shadow: 0px 1px 0px #215b90;
      }
      :host /deep/ core-header-panel[main] {
        background-color: #fff;
      }
      :host /deep/ core-header-panel[navigation] {
        background-color: #fff;
      }
      :host /deep/ core-header-panel[navigation] core-toolbar {
        background-color: #2a76bb;
      }
      :host /deep/ core-header-panel[navigation] core-item {
        padding: 2px 12px;
        line-height: 40px;
      }
      :host /deep/ core-header-panel[navigation] a:not(:first-of-type) core-item {
        border-top: 1px solid #f5f5f5;
      }
      :host /deep/ core-header-panel[navigation] a {
        color: #444;
        text-decoration: none;
      }
      :host /deep/ core-header-panel[navigation] a:hover core-item,
      :host /deep/ core-header-panel[navigation] a:focus core-item {
        background-color: #f5f5f5;
        color: #111;
      }
      .content {
        padding: 20px;
      }
    </style>
    <core-scaffold>
      <core-header-panel navigation flex mode="seamed">
        <core-toolbar>&lt;app-router&gt;</core-toolbar>
        <div>
          <a href="/app-router/#"><core-item icon="home" label="Home"></core-item></a>
          <a href="/app-router/#/databinding/1337?queryParam1=Routing%20with%20Web%20Components!"><core-item icon="polymer" label="Data Binding"></core-item></a>
          <a href="/app-router/#/layouts"><core-item icon="view-quilt" label="Multiple Layouts"></core-item></a>
          <a href="/app-router/#/api"><core-item icon="settings" label="API"></core-item></a>
          <a href="https://github.com/erikringsmuth/app-router/tree/gh-pages"><core-item icon="drive-document" label="gh-pages source"></core-item></a>
          <a href="https://github.com/erikringsmuth/app-router"><core-item icon="exit-to-app" label="GitHub"></core-item></a>
        </div>
      </core-header-panel>
      <div tool>
        <content select=".title"></content>
      </div>
      <div class="content">
        <content></content>
      </div>
    </core-scaffold>
  </template>
</polymer-element>
