<link rel="import" href="/app-router/bower_components/polymer/polymer.html">
<link rel="import" href="/app-router/bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="/app-router/bower_components/core-item/core-item.html">
<link rel="import" href="/app-router/bower_components/core-icons/core-icons.html">

<polymer-element name="simple-layout" noscript>
  <template>
    <style>
      .content {
        padding: 20px;
      }
    </style>
    <core-toolbar>
      <span flex>
        <content select=".title"></content>
      </span>
      <core-item icon="home" label="Home"><a href="/app-router/#"></a></core-item>
      <core-item icon="polymer" label="Demo"><a href="/app-router/#/demo/1337?queryParam1=Routing%20Polymer%20style!"></a></core-item>
      <core-item icon="view-quilt" label="Multiple Layouts"><a href="/app-router/#/layouts"></a></core-item>
    </core-toolbar>
    <div class="content">
      <content></content>
    </div>
  </template>
</polymer-element>